

.particles-btn {
  position: relative;
  outline: 0;
  border: none;
  border-radius: 0px;
  
  top: 0px;
  transition: all ease 0.2s; }
  .particles-btn:hover, .particles-btn.active {
    }
  .particles-btn.active {
    top: 0px;
      
     }
  .particles-btn .particle {
    display: inline-block;
    position: absolute;
    left: -10px;
    right: 0;
    top: 10px;
    bottom: 0;
    margin: auto;
    opacity: 1;
    z-index: -2;
    border-radius: 50px; }
    .particles-btn .particle:nth-child(even) {
      background-color: black !important; }
  .particles-btn .particle:nth-child(1) {
    height: 8px;
    width: 8px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(2) {
    height: 13px;
    width: 13px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(3) {
    height: 12px;
    width: 12px;
    border: 5px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(4) {
    height: 17px;
    width: 17px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(5) {
    height: 2px;
    width: 2px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(6) {
    height: 5px;
    width: 5px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(7) {
    height: 22px;
    width: 22px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(8) {
    height: 17px;
    width: 17px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(9) {
    height: 28px;
    width: 28px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(10) {
    height: 25px;
    width: 25px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(11) {
    height: 16px;
    width: 16px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(12) {
    height: 20px;
    width: 20px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(13) {
    height: 6px;
    width: 6px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(14) {
    height: 19px;
    width: 19px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(15) {
    height: 17px;
    width: 17px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(16) {
    height: 26px;
    width: 26px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(17) {
    height: 3px;
    width: 3px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(18) {
    height: 20px;
    width: 20px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(19) {
    height: 27px;
    width: 27px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(20) {
    height: 22px;
    width: 22px;
    border: 5px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(21) {
    height: 8px;
    width: 8px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(22) {
    height: 1px;
    width: 1px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(23) {
    height: 15px;
    width: 15px;
    border: 5px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(24) {
    height: 13px;
    width: 13px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(25) {
    height: 21px;
    width: 21px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(26) {
    height: 29px;
    width: 29px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(27) {
    height: 24px;
    width: 24px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(28) {
    height: 1px;
    width: 1px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(29) {
    height: 20px;
    width: 20px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(30) {
    height: 7px;
    width: 7px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(31) {
    height: 5px;
    width: 5px;
    border: 5px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(32) {
    height: 2px;
    width: 2px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(33) {
    height: 11px;
    width: 11px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(34) {
    height: 19px;
    width: 19px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(35) {
    height: 2px;
    width: 2px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(36) {
    height: 15px;
    width: 15px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(37) {
    height: 23px;
    width: 23px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(38) {
    height: 25px;
    width: 25px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(39) {
    height: 4px;
    width: 4px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(40) {
    height: 12px;
    width: 12px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(41) {
    height: 6px;
    width: 6px;
    border: 5px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(42) {
    height: 25px;
    width: 25px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(43) {
    height: 2px;
    width: 2px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(44) {
    height: 12px;
    width: 12px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(45) {
    height: 24px;
    width: 24px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(46) {
    height: 28px;
    width: 28px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(47) {
    height: 5px;
    width: 5px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(48) {
    height: 11px;
    width: 11px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(49) {
    height: 24px;
    width: 24px;
    border: 5px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(50) {
    height: 12px;
    width: 12px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(51) {
    height: 7px;
    width: 7px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(52) {
    height: 30px;
    width: 30px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(53) {
    height: 29px;
    width: 29px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(54) {
    height: 25px;
    width: 25px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(55) {
    height: 8px;
    width: 8px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(56) {
    height: 30px;
    width: 30px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(57) {
    height: 25px;
    width: 25px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(58) {
    height: 26px;
    width: 26px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(59) {
    height: 10px;
    width: 10px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(60) {
    height: 1px;
    width: 1px;
    border: 5px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(61) {
    height: 15px;
    width: 15px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(62) {
    height: 6px;
    width: 6px;
    border: 5px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(63) {
    height: 23px;
    width: 23px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(64) {
    height: 23px;
    width: 23px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(65) {
    height: 26px;
    width: 26px;
    border: 5px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(66) {
    height: 17px;
    width: 17px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(67) {
    height: 20px;
    width: 20px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(68) {
    height: 28px;
    width: 28px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(69) {
    height: 25px;
    width: 25px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(70) {
    height: 21px;
    width: 21px;
    border: 5px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(71) {
    height: 14px;
    width: 14px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(72) {
    height: 7px;
    width: 7px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(73) {
    height: 23px;
    width: 23px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(74) {
    height: 16px;
    width: 16px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(75) {
    height: 3px;
    width: 3px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(76) {
    height: 11px;
    width: 11px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(77) {
    height: 4px;
    width: 4px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(78) {
    height: 26px;
    width: 26px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(79) {
    height: 14px;
    width: 14px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(80) {
    height: 30px;
    width: 30px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(81) {
    height: 24px;
    width: 24px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(82) {
    height: 6px;
    width: 6px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(83) {
    height: 2px;
    width: 2px;
    border: 5px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(84) {
    height: 8px;
    width: 8px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(85) {
    height: 3px;
    width: 3px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(86) {
    height: 14px;
    width: 14px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(87) {
    height: 4px;
    width: 4px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(88) {
    height: 24px;
    width: 24px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(89) {
    height: 30px;
    width: 30px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(90) {
    height: 19px;
    width: 19px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(91) {
    height: 26px;
    width: 26px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(92) {
    height: 18px;
    width: 18px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(93) {
    height: 21px;
    width: 21px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(94) {
    height: 14px;
    width: 14px;
    border: 5px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(95) {
    height: 21px;
    width: 21px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(96) {
    height: 1px;
    width: 1px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(97) {
    height: 30px;
    width: 30px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(98) {
    height: 23px;
    width: 23px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(99) {
    height: 19px;
    width: 19px;
    border: 5px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(100) {
    height: 30px;
    width: 30px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(101) {
    height: 13px;
    width: 13px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(102) {
    height: 6px;
    width: 6px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(103) {
    height: 22px;
    width: 22px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(104) {
    height: 18px;
    width: 18px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(105) {
    height: 21px;
    width: 21px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(106) {
    height: 27px;
    width: 27px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(107) {
    height: 14px;
    width: 14px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(108) {
    height: 3px;
    width: 3px;
    border: 5px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(109) {
    height: 13px;
    width: 13px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(110) {
    height: 27px;
    width: 27px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(111) {
    height: 15px;
    width: 15px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(112) {
    height: 8px;
    width: 8px;
    border: 5px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(113) {
    height: 15px;
    width: 15px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(114) {
    height: 11px;
    width: 11px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(115) {
    height: 30px;
    width: 30px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(116) {
    height: 26px;
    width: 26px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(117) {
    height: 24px;
    width: 24px;
    border: 5px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(118) {
    height: 7px;
    width: 7px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(119) {
    height: 24px;
    width: 24px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(120) {
    height: 14px;
    width: 14px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(121) {
    height: 7px;
    width: 7px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(122) {
    height: 18px;
    width: 18px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(123) {
    height: 27px;
    width: 27px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(124) {
    height: 1px;
    width: 1px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(125) {
    height: 23px;
    width: 23px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(126) {
    height: 11px;
    width: 11px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(127) {
    height: 5px;
    width: 5px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(128) {
    height: 29px;
    width: 29px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(129) {
    height: 23px;
    width: 23px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(130) {
    height: 24px;
    width: 24px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(131) {
    height: 22px;
    width: 22px;
    border: 5px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(132) {
    height: 23px;
    width: 23px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(133) {
    height: 1px;
    width: 1px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(134) {
    height: 12px;
    width: 12px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(135) {
    height: 18px;
    width: 18px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(136) {
    height: 3px;
    width: 3px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(137) {
    height: 6px;
    width: 6px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(138) {
    height: 20px;
    width: 20px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(139) {
    height: 4px;
    width: 4px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(140) {
    height: 14px;
    width: 14px;
    border: 5px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(141) {
    height: 11px;
    width: 11px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(142) {
    height: 18px;
    width: 18px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(143) {
    height: 13px;
    width: 13px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(144) {
    height: 25px;
    width: 25px;
    border: 5px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(145) {
    height: 26px;
    width: 26px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(146) {
    height: 3px;
    width: 3px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(147) {
    height: 1px;
    width: 1px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(148) {
    height: 1px;
    width: 1px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(149) {
    height: 22px;
    width: 22px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(150) {
    height: 15px;
    width: 15px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(151) {
    height: 24px;
    width: 24px;
    border: 5px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(152) {
    height: 23px;
    width: 23px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(153) {
    height: 12px;
    width: 12px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(154) {
    height: 28px;
    width: 28px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(155) {
    height: 30px;
    width: 30px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(156) {
    height: 29px;
    width: 29px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(157) {
    height: 5px;
    width: 5px;
    border: 5px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(158) {
    height: 27px;
    width: 27px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(159) {
    height: 5px;
    width: 5px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(160) {
    height: 4px;
    width: 4px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(161) {
    height: 6px;
    width: 6px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(162) {
    height: 20px;
    width: 20px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(163) {
    height: 15px;
    width: 15px;
    border: 5px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(164) {
    height: 4px;
    width: 4px;
    border: 5px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(165) {
    height: 22px;
    width: 22px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(166) {
    height: 29px;
    width: 29px;
    border: 5px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(167) {
    height: 4px;
    width: 4px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(168) {
    height: 23px;
    width: 23px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(169) {
    height: 24px;
    width: 24px;
    border: 5px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(170) {
    height: 23px;
    width: 23px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(171) {
    height: 23px;
    width: 23px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(172) {
    height: 28px;
    width: 28px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(173) {
    height: 18px;
    width: 18px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(174) {
    height: 13px;
    width: 13px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(175) {
    height: 28px;
    width: 28px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(176) {
    height: 25px;
    width: 25px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(177) {
    height: 21px;
    width: 21px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(178) {
    height: 7px;
    width: 7px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(179) {
    height: 30px;
    width: 30px;
    border: 5px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(180) {
    height: 7px;
    width: 7px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(181) {
    height: 14px;
    width: 14px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(182) {
    height: 26px;
    width: 26px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(183) {
    height: 20px;
    width: 20px;
    border: 5px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(184) {
    height: 15px;
    width: 15px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(185) {
    height: 7px;
    width: 7px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(186) {
    height: 22px;
    width: 22px;
    border: 5px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(187) {
    height: 8px;
    width: 8px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(188) {
    height: 8px;
    width: 8px;
    border: 5px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(189) {
    height: 26px;
    width: 26px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(190) {
    height: 20px;
    width: 20px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(191) {
    height: 12px;
    width: 12px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(192) {
    height: 24px;
    width: 24px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(193) {
    height: 13px;
    width: 13px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(194) {
    height: 12px;
    width: 12px;
    border: 5px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(195) {
    height: 17px;
    width: 17px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(196) {
    height: 21px;
    width: 21px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(197) {
    height: 7px;
    width: 7px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(198) {
    height: 8px;
    width: 8px;
    border: 5px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(199) {
    height: 25px;
    width: 25px;
    border: 5px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(200) {
    height: 4px;
    width: 4px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(201) {
    height: 7px;
    width: 7px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(202) {
    height: 26px;
    width: 26px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(203) {
    height: 24px;
    width: 24px;
    border: 5px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(204) {
    height: 16px;
    width: 16px;
    border: 5px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(205) {
    height: 12px;
    width: 12px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(206) {
    height: 6px;
    width: 6px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(207) {
    height: 26px;
    width: 26px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(208) {
    height: 11px;
    width: 11px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(209) {
    height: 13px;
    width: 13px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(210) {
    height: 17px;
    width: 17px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(211) {
    height: 11px;
    width: 11px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(212) {
    height: 18px;
    width: 18px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(213) {
    height: 14px;
    width: 14px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(214) {
    height: 14px;
    width: 14px;
    border: 5px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(215) {
    height: 2px;
    width: 2px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(216) {
    height: 30px;
    width: 30px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(217) {
    height: 16px;
    width: 16px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(218) {
    height: 8px;
    width: 8px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(219) {
    height: 13px;
    width: 13px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(220) {
    height: 21px;
    width: 21px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(221) {
    height: 20px;
    width: 20px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(222) {
    height: 3px;
    width: 3px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(223) {
    height: 15px;
    width: 15px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(224) {
    height: 22px;
    width: 22px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(225) {
    height: 19px;
    width: 19px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(226) {
    height: 25px;
    width: 25px;
    border: 5px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(227) {
    height: 27px;
    width: 27px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(228) {
    height: 7px;
    width: 7px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(229) {
    height: 13px;
    width: 13px;
    border: 5px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(230) {
    height: 15px;
    width: 15px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(231) {
    height: 14px;
    width: 14px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(232) {
    height: 26px;
    width: 26px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(233) {
    height: 24px;
    width: 24px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(234) {
    height: 17px;
    width: 17px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(235) {
    height: 20px;
    width: 20px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(236) {
    height: 25px;
    width: 25px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(237) {
    height: 23px;
    width: 23px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(238) {
    height: 7px;
    width: 7px;
    border: 5px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(239) {
    height: 26px;
    width: 26px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(240) {
    height: 17px;
    width: 17px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(241) {
    height: 30px;
    width: 30px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(242) {
    height: 13px;
    width: 13px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(243) {
    height: 7px;
    width: 7px;
    border: 5px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(244) {
    height: 12px;
    width: 12px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(245) {
    height: 13px;
    width: 13px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(246) {
    height: 15px;
    width: 15px;
    border: 5px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(247) {
    height: 28px;
    width: 28px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(248) {
    height: 6px;
    width: 6px;
    border: 5px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(249) {
    height: 13px;
    width: 13px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(250) {
    height: 12px;
    width: 12px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(251) {
    height: 9px;
    width: 9px;
    border: 5px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(252) {
    height: 30px;
    width: 30px;
    border: 5px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(253) {
    height: 6px;
    width: 6px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(254) {
    height: 28px;
    width: 28px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(255) {
    height: 23px;
    width: 23px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(256) {
    height: 2px;
    width: 2px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(257) {
    height: 13px;
    width: 13px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(258) {
    height: 18px;
    width: 18px;
    border: 5px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(259) {
    height: 10px;
    width: 10px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(260) {
    height: 20px;
    width: 20px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(261) {
    height: 26px;
    width: 26px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(262) {
    height: 20px;
    width: 20px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(263) {
    height: 30px;
    width: 30px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(264) {
    height: 13px;
    width: 13px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(265) {
    height: 16px;
    width: 16px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(266) {
    height: 12px;
    width: 12px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(267) {
    height: 10px;
    width: 10px;
    border: 5px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(268) {
    height: 17px;
    width: 17px;
    border: 5px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(269) {
    height: 25px;
    width: 25px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(270) {
    height: 20px;
    width: 20px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(271) {
    height: 16px;
    width: 16px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(272) {
    height: 4px;
    width: 4px;
    border: 5px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(273) {
    height: 6px;
    width: 6px;
    border: 5px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(274) {
    height: 14px;
    width: 14px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(275) {
    height: 14px;
    width: 14px;
    border: 5px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(276) {
    height: 11px;
    width: 11px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(277) {
    height: 26px;
    width: 26px;
    border: 5px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(278) {
    height: 11px;
    width: 11px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(279) {
    height: 9px;
    width: 9px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(280) {
    height: 1px;
    width: 1px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(281) {
    height: 15px;
    width: 15px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(282) {
    height: 6px;
    width: 6px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(283) {
    height: 28px;
    width: 28px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(284) {
    height: 1px;
    width: 1px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(285) {
    height: 30px;
    width: 30px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(286) {
    height: 26px;
    width: 26px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(287) {
    height: 20px;
    width: 20px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(288) {
    height: 18px;
    width: 18px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(289) {
    height: 13px;
    width: 13px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(290) {
    height: 7px;
    width: 7px;
    border: 5px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(291) {
    height: 25px;
    width: 25px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(292) {
    height: 1px;
    width: 1px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(293) {
    height: 24px;
    width: 24px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(294) {
    height: 1px;
    width: 1px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(295) {
    height: 17px;
    width: 17px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(296) {
    height: 22px;
    width: 22px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(297) {
    height: 14px;
    width: 14px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(298) {
    height: 11px;
    width: 11px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(299) {
    height: 10px;
    width: 10px;
    border: 5px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(300) {
    height: 7px;
    width: 7px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(301) {
    height: 6px;
    width: 6px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(302) {
    height: 17px;
    width: 17px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(303) {
    height: 17px;
    width: 17px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(304) {
    height: 29px;
    width: 29px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(305) {
    height: 14px;
    width: 14px;
    border: 5px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(306) {
    height: 6px;
    width: 6px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(307) {
    height: 12px;
    width: 12px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(308) {
    height: 10px;
    width: 10px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(309) {
    height: 22px;
    width: 22px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(310) {
    height: 30px;
    width: 30px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(311) {
    height: 9px;
    width: 9px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(312) {
    height: 1px;
    width: 1px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(313) {
    height: 5px;
    width: 5px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(314) {
    height: 14px;
    width: 14px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(315) {
    height: 11px;
    width: 11px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(316) {
    height: 14px;
    width: 14px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(317) {
    height: 4px;
    width: 4px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(318) {
    height: 9px;
    width: 9px;
    border: 5px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(319) {
    height: 6px;
    width: 6px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(320) {
    height: 11px;
    width: 11px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(321) {
    height: 1px;
    width: 1px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(322) {
    height: 17px;
    width: 17px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(323) {
    height: 21px;
    width: 21px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(324) {
    height: 14px;
    width: 14px;
    border: 5px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(325) {
    height: 25px;
    width: 25px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(326) {
    height: 22px;
    width: 22px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(327) {
    height: 1px;
    width: 1px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(328) {
    height: 22px;
    width: 22px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(329) {
    height: 5px;
    width: 5px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(330) {
    height: 27px;
    width: 27px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(331) {
    height: 23px;
    width: 23px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(332) {
    height: 13px;
    width: 13px;
    border: 5px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(333) {
    height: 9px;
    width: 9px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(334) {
    height: 10px;
    width: 10px;
    border: 5px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(335) {
    height: 19px;
    width: 19px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(336) {
    height: 21px;
    width: 21px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(337) {
    height: 2px;
    width: 2px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(338) {
    height: 15px;
    width: 15px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(339) {
    height: 11px;
    width: 11px;
    border: 5px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(340) {
    height: 18px;
    width: 18px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(341) {
    height: 23px;
    width: 23px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(342) {
    height: 8px;
    width: 8px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(343) {
    height: 20px;
    width: 20px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(344) {
    height: 23px;
    width: 23px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(345) {
    height: 14px;
    width: 14px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(346) {
    height: 2px;
    width: 2px;
    border: 5px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(347) {
    height: 23px;
    width: 23px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(348) {
    height: 6px;
    width: 6px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(349) {
    height: 12px;
    width: 12px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(350) {
    height: 26px;
    width: 26px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(351) {
    height: 18px;
    width: 18px;
    border: 5px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(352) {
    height: 25px;
    width: 25px;
    border: 5px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(353) {
    height: 29px;
    width: 29px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(354) {
    height: 2px;
    width: 2px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(355) {
    height: 9px;
    width: 9px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(356) {
    height: 2px;
    width: 2px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(357) {
    height: 24px;
    width: 24px;
    border: 5px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(358) {
    height: 29px;
    width: 29px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(359) {
    height: 22px;
    width: 22px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(360) {
    height: 7px;
    width: 7px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(361) {
    height: 3px;
    width: 3px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(362) {
    height: 3px;
    width: 3px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(363) {
    height: 13px;
    width: 13px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(364) {
    height: 1px;
    width: 1px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(365) {
    height: 1px;
    width: 1px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(366) {
    height: 1px;
    width: 1px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(367) {
    height: 18px;
    width: 18px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(368) {
    height: 8px;
    width: 8px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(369) {
    height: 26px;
    width: 26px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(370) {
    height: 6px;
    width: 6px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(371) {
    height: 17px;
    width: 17px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(372) {
    height: 17px;
    width: 17px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(373) {
    height: 20px;
    width: 20px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(374) {
    height: 15px;
    width: 15px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(375) {
    height: 27px;
    width: 27px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(376) {
    height: 18px;
    width: 18px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(377) {
    height: 21px;
    width: 21px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(378) {
    height: 12px;
    width: 12px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(379) {
    height: 17px;
    width: 17px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(380) {
    height: 2px;
    width: 2px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(381) {
    height: 18px;
    width: 18px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(382) {
    height: 3px;
    width: 3px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(383) {
    height: 8px;
    width: 8px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(384) {
    height: 22px;
    width: 22px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(385) {
    height: 6px;
    width: 6px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(386) {
    height: 3px;
    width: 3px;
    border: 5px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(387) {
    height: 19px;
    width: 19px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(388) {
    height: 26px;
    width: 26px;
    border: 5px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(389) {
    height: 19px;
    width: 19px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(390) {
    height: 25px;
    width: 25px;
    border: 1px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(391) {
    height: 13px;
    width: 13px;
    border: 5px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(392) {
    height: 29px;
    width: 29px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(393) {
    height: 18px;
    width: 18px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(394) {
    height: 21px;
    width: 21px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(395) {
    height: 2px;
    width: 2px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(396) {
    height: 11px;
    width: 11px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(397) {
    height: 15px;
    width: 15px;
    border: 3px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(398) {
    height: 29px;
    width: 29px;
    border: 4px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(399) {
    height: 23px;
    width: 23px;
    border: 2px solid black;
    background-color: transparent; }
  .particles-btn .particle:nth-child(400) {
    height: 24px;
    width: 24px;
    border: 3px solid black;
    background-color: transparent; }
